* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  color: #e8ebee;
  background: #03012e;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #03012e;
  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #e8ebee;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #e8ebee;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.1s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: #76bee7;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: #03012e;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #76bee7;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-content img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 300px;
  pointer-events: none;
  border: 10px solid #76bee7;
  border-radius: 90px;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #76bee7;
  border-radius: 50%;
  font-size: 20px;
  color: #76bee7;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #76bee7;
  color: #081b29;
  box-shadow: 0 0 20px #76bee7;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #76bee7;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7, 0 0 50px #76bee7,
    0 0 100px #76bee7, 0 0 200px #76bee7;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
  ;
}

/* end of home */
/* about */
.about {
  padding: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  display: grid;
  max-width: 230px;
  height: auto;
  width: 100%;
  /* margin-left: 150px; */
  border: 8px solid #76bee7;
  border-radius: 90px;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7;
}

.about-text h3 {
  font-size: 60px;
}

.about-text h3 span {
  color: #76bee7;
}

.about-text h4 {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.7;
  margin: 15px 0 30px;
  color: #ffffff;
}

.about-text p {
  font-size: 20px;
  line-height: 1.4;
  color: #f0f8ff;
  margin-bottom: 4rem;
}

/* end of about */
/* services */
#services {
  color: aliceblue;
  font-size: 36;
  line-height: 1.4;
  margin-bottom: 4rem;

}

.sub-title {
  text-align: center;
  font-size: 64px;
  padding-bottom: 70px;
}

.sub-title span {
  color: #76bee7;
}

.container {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 5px #031750,
    1px 1px 48px #12048f;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #010f30;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #76bee7;
  border-radius: 40px;
  font-size: 14px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7, 0 0 50px #76bee7,
    0 0 100px #76bee7, 0 0 200px #76bee7;
}

.read:hover {
  box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
  ;
}

.services-list div:hover {
  background: #032538;
  transform: translateY(-10px);
}

/* end of services  */
/* skills */
.skilll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin: 120px;
}

.heading1 {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.bar {
  font-size: 23px;
}

.Technical-bars .bar {
  margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
  margin-top: 0;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0;
}

.Technical-bars .bar .info {
  margin-bottom: 5px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.3s 1s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .progress-line{
  position: relative;
  border-radius: 10px;
  height: 5px;
  width: 100%;
  background-color: #0f234d;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }

}

.Technical-bars .bar .progress-line span {
  background-color: #76bee7;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}

.progress-line.css span {
  width: 80%;
}

.progress-line.javascript span {
  width: 90%;
}

.progress-line.react span {
  width: 70%;
}

.progress-line.c span {
  width: 80%;
}

.progress-line.python span {
  width: 90%;
}

.progress-line.django span {
  width: 70%;
}

.progress-line.flask span {
  width: 60%;
}

.progress-line.mysql span {
  width: 80%;
}

.progress-line.jquire span {
  width: 85%;
}

.progress-line.bootstrap span {
  width: 100%;
}

.progress-line.typescript span {
  width: 10%;
}

.progress-line.tailwind span {
  width: 10%;
}

.progress-line.mysql span {
  width: 85%;
}

.progress-line.mongodb span {
  width: 80%;
}

.progress-line.postgresql span {
  width: 80%;
}

.progress-line.git span {
  width: 90%;
}
.progress-line span::after{
  position: absolute;
  padding: 1px 3px;
  background-color: #010f30;
  color: #ebeff1;
  font-size: 12px;
  border-radius: 2px;
  top: -25px;
  right: -30px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "80%";
}
.progress-line.react span::after{
  content: "70%";
}
.progress-line.javascript span::after{
  content: "90%";
}
.progress-line.python span::after{
  content: "99%";
}
.progress-line.c span::after{
  content: "80%";
}
.progress-line.django span::after{
  content: "70%";
}
.progress-line.flask span::after{
  content: "75%";
}
.progress-line.mysql span::after{
  content: "85%";
}
.progress-line.mongodb span::after{
  content: "80%";
}

.progress-line span::before{
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #010d14;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
  
  
}
.redial-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  
}
.redial-bar .redial-bar1 {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;

}
.redial-bar .redial-bar1 svg {
  width: 120px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}
   
.redial-bar .redial-bar1 .progress-bar {
  stroke-width: 18;
  stop-color: black;
  fill: transparent;
  /* stroke-dasharray: 502;
  stroke-dashoffset: 502; */
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
} 

.redial-bar .redial-bar1 .path {
  stroke-width: 10;
  stroke: #76bee7;
  fill: transparent;
  stroke-dasharray: 502; /* This should be the circumference of the circle */
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-path 1s 1s linear forwards;
}
.redial-bar .redial-bar1:nth-child(1) .path {
  animation: animate-path-60 1s 1s linear forwards;
}

.redial-bar .redial-bar1:nth-child(2) .path {
  animation: animate-path-70 1s 1s linear forwards;
}
.redial-bar .redial-bar1:nth-child(3) .path {
  animation: animate-path-90 1s 1s linear forwards;
}

.redial-bar .redial-bar1:nth-child(4) .path {
  animation: animate-path-80 1s 1s linear forwards;
}
@keyframes animate-path-60 {
  100% {
    stroke-dashoffset: 60; 
  }
}

@keyframes animate-path-70 {
  100% {
    stroke-dashoffset: 70;
  }
}
@keyframes animate-path-90 {
  100% {
    stroke-dashoffset: 90; 
  }
}

@keyframes animate-path-80 {
  100% {
    stroke-dashoffset: 80;
  }
}
.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: bold;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.redial-bar1 .text {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 17px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}



@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
  
}

/* .path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}

@keyframes animate-path1 {
  100% {
    stroke-dishoffset: 50;;
  }
} 

@keyframes animate-path2 {
  100% {
    stroke-dishoffset: 175;;
  }

}
@keyframes animate-path3 {
  100% {
    stroke-dishoffset: 125;;
  }

}
@keyframes animate-path4 {
  100% {
    stroke-dishoffset: 75;;
  }

} */

/* end of skills */

/* portfolio project */
.main-text {
  padding-top: 130px;
  margin-top: 200px;

}

.main-text h2 {
  font-size: 60px;
 line-height: 1;
 text-align: center;
}
.main-text h2 span {
  color: #76bee7;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}
.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.row img {
  width: 100%;
  border-radius: 8px;
  display: block; 
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #76bee7);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5 {
  color: #031750;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;

}

.layer p {
  color: #031750;
  font-size: 17px;
  line-height: 1.8;
}
.layer i{
  color: rgb(226, 17, 97);
  margin-top: 20px;
  font-size: 20px;
  background: whitesmoke; 
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 50%;

}
.row:hover img {
  transform: scale(1.1);
}
.row:hover .layer {
  height: 100%;
}
/* end of portfolio */
/* contact */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}
.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
}
.contact-text h2 span {
  color: #76bee7;
}
.contact-text h4{
  margin: 15px 0; 
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
}
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list li a {
  display: inline-block;
  color: rgb(13, 192, 192);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.contact-list li a:hover {
  transform: translateX(-5px);
  color: #76bee7;
}
.contact-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #76bee7;
  border-radius: 50%;
  font-size: 20px;
  color: #07b4b4;
  text-decoration: none;
  margin-right: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
}
.contact-icons a:hover {
  background: #76bee7;
  color: #070710;
  box-shadow: 0 0 20px #76bee7;
}
.contact-form form{
  position: relative;
}
.contact-form form input , form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #363434;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background: #76bee7;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7, 0 0 50px #76bee7,
    0 0 100px #76bee7, 0 0 200px #76bee7;
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
  ;
}

/* end of contact */
.last-text p{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #041e29;
  font-weight: 300;
  margin-top: 70px;

}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;

}

.top i {
  color: #000;
  background: #76bee7;
  font-size: 36px;
  border-radius: 0.5rem;  
}


/* keyframes */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* end of home content style */