* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  color: #e8ebee;
  background: #03012e;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #03012e;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #e8ebee;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #e8ebee;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.1s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: #76bee7;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: #03012e;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span {
  color: #76bee7;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-content img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 300px;
  pointer-events: none;
  border: 10px solid #76bee7;
  border-radius: 90px;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7;
} 
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #76bee7;
  border-radius: 50%;
  font-size: 20px;
  color: #76bee7;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: #76bee7;
  color: #081b29;
  box-shadow: 0 0 20px #76bee7;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #76bee7;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7, 0 0 50px #76bee7,
    0 0 100px #76bee7, 0 0 200px #76bee7;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
  ;
}
/* end of home */
/* about */
.about {
  padding: 90px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 1.5rem;
}
.about-img img {
  display: grid;
  max-width: 230px;
  height: auto;
  width: 100%;
  /* margin-left: 150px; */
  border: 8px solid #76bee7;
  border-radius: 90px;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7;
}
.about-text h3 {
  font-size: 60px;
}
.about-text h3 span {
  color: #76bee7;
}
.about-text h4 {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.7;
  margin: 15px 0 30px;
  color: #ffffff;
}
.about-text p {
  font-size: 20px;
  line-height: 1.4;
  color: #f0f8ff;
  margin-bottom: 4rem;
}

/* end of about */
/* services */
#services{
  color: aliceblue;
  font-size: 36;
  line-height: 1.4;
  margin-bottom: 4rem;

}
.sub-title{
  text-align: center;
  font-size: 64px;
  padding-bottom: 70px;
}
.sub-title span{
  color: #76bee7;
}
.container {
  padding: 90px;
}  
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px  1px 5px #031750, 
              1px 1px 48px #12048f;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #010f30;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.read {
  display: inline-block;
  padding: 12px 28px;
  background: #76bee7;
  border-radius: 40px;
  font-size: 14px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #76bee7, 0 0 25px #76bee7, 0 0 50px #76bee7,
    0 0 100px #76bee7, 0 0 200px #76bee7;
}
.read:hover {
  box-shadow: 0 0 5px cyan, 
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
  ;
}
.services-list div:hover {
  background: #032538;
  transform: translateY(-10px);
}

/* end of services  */
/* skills */
section {
  display: flex;
  flex-wrap: wrap;
}
.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin: 120px;
}
.heading1 {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  text-align: center;
  margin-bottom: 54px;
}
.bar{
  font-size: 23px;
}
.Technical-bars  .bar {
  margin-top: 40px 0;
}
.Technical-bars .bar:first-child {
  margin-top: 0;
}
.Technical-bars .bar:last-child {
  margin-bottom: 0;
}
.Technical-bars .bar .info {
  margin-bottom: 5px;
}
.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.3s 1s linear forwards;
  opacity: 0;
}
.Technical-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  animation: scale 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
/* continue from 52.34 */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* end of home content style */

